best_model_cls_all.pt filter=lfs diff=lfs merge=lfs -text
best_model_eff3_v=t.pt filter=lfs diff=lfs merge=lfs -text
best_model_reg_3.pt filter=lfs diff=lfs merge=lfs -text
best_model_reg_all.pt filter=lfs diff=lfs merge=lfs -text
